<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Tech Blog</title>
  <!-- Stylesheets or other meta tags -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Login</h1>
  
  <form id="loginForm" class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="email" id="email-login" name="email">
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" name="password">
  </div>
  <button type="submit">Login</button>
</form>
<div>
  <form id="signupForm">
  <input type="text" id="name" name="name" placeholder="Enter your name" required>
  <input type="email" id="email" name="email" placeholder="Enter your email" required>
  <input type="password" id="password" name="password" placeholder="Enter your password" required>
  <button type="submit">Sign Up</button>
  </form>
</div>
  
  <!-- Script for login functionality -->
  <script src="/js/login.js"></script>
</body>
</html>
