<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head content -->
  <link rel="stylesheet" href="/css/style.css">
  <title>Dashboard - Tech Blog</title>
</head>
<body>
  <header>
        <!-- Your header content here -->
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/profile">Dashboard</a>
                <a href="/login">Login</a>
                <!-- Add other navigation links based on requirements -->
            </ul>
        </nav>
    </header>
  
  <h1>Dashboard</h1>
  
  <!-- Display existing blog posts -->
  <div>
  <h2>Existing Blog Posts:</h2>
  <ul>
    {{#each posts}}
      <li>
        <h3>{{ this.title }}</h3>
        <p>{{ this.content }}</p>
        <!-- Add a delete button to delete the post -->
        <form class="delete-form" action="/api/posts/{{ this.id }}/delete" method="POST">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </li>
    {{/each}}
  </ul>
</div>
  
  <!-- Form for creating a new blog post -->
  <form action="/api/posts/create" method="POST">
    <div>
      <label for="postTitle">Title:</label>
      <input type="text" id="postTitle" name="postTitle">
    </div>
    <div>
      <label for="postContent">Content:</label>
      <textarea id="postContent" name="postContent"></textarea>
    </div>
    <button type="submit">Add Blog Post</button>
  </form>
  
  <!-- Script or link to the JavaScript file -->
  <script src="/js/dashboard.js"></script>
</body>
</html>