<!-- main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plugged.in [AD]</title>
</head>

<body>
    <header>
        <h1>You are now plugged.in</h1>
            <nav>
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    {{#if loggedIn}}
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><button id="logout" class="btn-no-style logout">Logout</button></li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
    </header>

    <main class="container">
        {{{body}}}
    </main>

    <script src= "/Develop/public/javascript/logout.js"></script>

    <footer>[AD] plugged.in ©</footer>
</body>

</html>
