/* Page Styles */
body 
{
    font-family: ;
}

header
{
    background-color: ;
}

nav 
{
    display: ;
}

.logo 
{
    font-size: ;
}

ul 
{
    list-style: ;
}

li 
{

}

a 
{

}

.btn-no-style
{

}

.container
{

}

footer
{
    position: ;
}

/* Home */

/* Dashboard */

/* Log In */

/* Sign In */

/* Create Post */

/* Edit Post */

/* Post's Information */

